body
{
    background-attachment: #1e1f24;
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16 px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #33a url("D:/git3/dragon.png")
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm 0 0.5cm 3cm;
}

#cabecera #tagline
{
    padding: 0 0 0 1 cm;
    font-weight: normal;
    font-size: 0.8cm;
}
#container
{
    border: 8px solid #245 ;
    width : 70% ;
    padding: 1em;
    text-align: left ;
    border: 10 px ;
    margin: 0 auto; 

}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#container h1
{
    font-size: 40 px;
}